// colors

html, body {
    margin: 0;
    padding: 0;
    width: 9000px;
    height: 100%;
}

.section {
    margin: 30px;
    width: 800px;
    height: 100%;
    background-color: red;
    display: inline-block;
}
